<div th:fragment="capture" class="container-xxl py-6 py-lg-10" th:each="capture: ${captureScreenDtos}">

    <!-- Message -->
    <div th:class="${capture.isOwner() ? 'message message-right' : 'message'}">
        <!-- Avatar -->
        <a class="avatar avatar-sm mr-4 mr-lg-5" href="#"
           data-chat-sidebar-toggle="#chat-1-user-profile">
            <img class="avatar-img" th:with="avatar=${capture.account.employee.attachmentAvatar}"
                 th:src="${ avatar!= null ? '/loadImage/' + avatar.id : ''}" alt="">
        </a>

        <!-- Message: body -->
        <div class="message-body">

            <!-- Message: row -->
            <div class="message-row">
                <div th:class="${capture.isOwner() ? 'd-flex align-items-center justify-content-end' : 'd-flex align-items-center'}">

                    <div class="dropdown dropleft" th:if="${capture.isOwner()}">
                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" th:idCapture="${capture.id}" name="deleteCapture">
                                Delete <span class="ml-auto fe-trash-2"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Message: content -->
                    <div class="message-content bg-light">
                        <div class="form-row py-3">
                                <div class="col">
                                    <img class="img-fluid"
                                         th:src="${ '/loadCaptureScreen/' + capture.id}" data-action="zoom"
                                         alt="" style="">
                                </div>
                        </div>

                        <div class="mt-1">
                            <small class="opacity-65"
                                   th:text="${#temporals.format(capture.createdDate, 'yyyy MMM dd HH:mm')}"></small>
                        </div>
                    </div>
                    <!-- Message: content -->

                    <!-- Message: dropdown -->
                    <div class="dropdown dropright" th:if="${!capture.isOwner()}">
                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" th:idCapture="${capture.id}" name="deleteCapture" >
                                Delete <span class="ml-auto fe-trash-2"></span>
                            </a>
                        </div>
                    </div>
                    <!-- Message: dropdown -->

                </div>
            </div>
            <!-- Message: row -->
        </div>
        <!-- Message: Body -->
    </div>
    <!-- Message -->
</div>