<!-- Chat: Header -->
<div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
    <div class="container-xxl">

        <div class="row align-items-center">

            <!-- Close chat(mobile) -->
            <div class="col-3 d-xl-none">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-muted px-0" href="#" data-chat="open">
                            <i class="icon-md fe-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Chat photo -->
            <div class="col-6 col-xl-6">
                <div class="media text-center text-xl-left">
                    <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                        <img th:with="avatar=${currentUser.employee.attachmentAvatar}"
                             th:src="${ avatar!= null ? '/loadImage/' + avatar.id: ''}" class="avatar-img" alt="">
                    </div>

                    <div class="media-body align-self-center text-truncate">
                        <h6 class="text-truncate mb-n1" th:text="${currentUser.username}"></h6>
                        <small class="text-muted" th:with="chatStatus=${currentUser.chatStatus}"
                               th:text="${chatStatus != null ?  chatStatus.content : ''}"></small>

                    </div>
                </div>
            </div>

            <!-- Chat toolbar -->
            <div class="col-3 col-xl-6 text-right">
                <ul class="nav justify-content-end">
                    <li class="nav-item list-inline-item d-none d-xl-block mr-5">
                        <a class="nav-link text-muted px-3" data-toggle="collapse"
                           data-target="#chat-1-search" href="#" title="Search this chat">
                            <i class="icon-md fe-search"></i>
                        </a>
                    </li>
                    <!-- Mobile nav -->
                    <li class="nav-item list-inline-item d-block d-xl-none">
                        <div class="dropdown">
                            <a class="nav-link text-muted px-0" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="icon-md fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item d-flex align-items-center"
                                   data-toggle="collapse" data-target="#chat-1-search" href="#">
                                    Search <span class="ml-auto pl-5 fe-search"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <!-- Mobile nav -->
                </ul>
            </div>

        </div><!-- .row -->

    </div>
</div>
<!-- Chat: Header -->

<!-- Chat: Search -->
<div class="collapse border-bottom px-lg-8" id="chat-1-search">
    <div class="container-xxl py-4 py-lg-6">
        <form method="get" th:action="${'/admin/getAllCapture/' + currentUser.username}" id="formSearchCapture">
            <div class="input-group">
                <input type="datetime-local" class="form-control form-control-lg" placeholder="Search this chat"
                       aria-label="Search this chat" name="keySearch">

                <div class="input-group-append">
                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                        <i class="fe-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Chat: Search -->

<!-- Chat: Content-->
<div class="chat-content px-lg-8" id="chat-content">
    <div id="messageArea">
        <div th:replace="admin/common/capture.html :: capture"></div>
    </div>
    <!-- Scroll to end -->
    <div class="end-of-chat"></div>
</div>
<!-- Chat: Content -->