<div th:fragment="tab-content-capture" class="d-flex flex-column h-100">
    <div class="hide-scrollbar">
        <div class="container-fluid py-6">

            <!-- Title -->
            <h2 class="font-bold mb-6">Chats</h2>
            <!-- Title -->

            <!-- Search -->
            <form class="mb-6" id="searchUserTabCapture" method="get" action="/admin/searchUserTabCapture">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg"
                           placeholder="Search for messages or users..."
                           aria-label="Search for messages or users..." name="keySearch" th:value="${keySearch}">
                    <div class="input-group-append">
                        <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit" id="btnSearchUser">
                            <i class="fe-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Chats -->
            <nav class="nav d-block list-discussions-js mb-n6">
                <th:block th:each="account:${accountDtos}">
                    <!-- Chat link -->
                    <a class="text-reset nav-link p-0 mb-6" th:idAccount="${account.username}" name="captureUsername" onclick="getCaptureAccount()">
                        <div class="card card-active-listener">
                            <div class="card-body">

                                <div class="media">
                                    <div class="avatar mr-5">
                                        <img class="avatar-img" th:with="avatar=${account.employee.attachmentAvatar}"
                                             th:src="${ avatar!= null ? '/loadImage/' + avatar.id : ''}"
                                             alt="">
                                    </div>

                                    <div class="media-body overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h6 class="text-truncate mb-0 mr-auto" th:text="${account.username}"></h6>
                                        </div>
                                        <th:block th:each="message:${account.messages}">
                                            <div class="text-truncate" th:if="${message != null}" th:with="content=${message.content}"
                                                 th:text="${ content != null ? content : '' }"></div>
                                        </th:block>

                                        <small class="text-truncate"
                                               th:text="${ account.lastLogin!= null ? 'Last login: ' +  #temporals.format(account.lastLogin, 'yyyy MMM dd HH:mm') : ''}"></small><br/>
                                        <small class="text-truncate"
                                               th:text="${   account.lastLogout != null ? 'Last logout: ' + #temporals.format(account.lastLogout, 'yyyy MMM dd HH:mm') : ''}"></small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <!-- Chat link -->
                </th:block>
            </nav>
            <!-- Chats -->

        </div>
    </div>
</div>