<div th:fragment="chat-content" class="container-xxl py-6 py-lg-10" th:each="message: ${messageDtoList}">

    <!-- Message -->
    <div th:class="${message.isOwner() ? 'message message-right' : 'message'}">
        <!-- Avatar -->
        <a class="avatar avatar-sm mr-4 mr-lg-5" href="#"
           data-chat-sidebar-toggle="#chat-1-user-profile">
            <img class="avatar-img" th:with="avatar=${message.accountSender.employee.attachmentAvatar}"
                 th:src="${ avatar!= null ? '/loadImage/' + avatar.id : ''}" alt="">
        </a>

        <!-- Message: body -->
        <div class="message-body">

            <!-- Message: row -->
            <div class="message-row">
                <div th:class="${message.isOwner() ? 'd-flex align-items-center justify-content-end' : 'd-flex align-items-center'}">

                    <div class="dropdown dropleft" th:if="${message.isOwner()}">
                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" th:idMessage="${message.id}" name="editMessage">
                                Edit <span class="ml-auto fe-edit-3"></span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" th:idMessage="${message.id}" name="deleteMessage" onclick="deleteMessageChat()">
                                Delete <span class="ml-auto fe-trash-2"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Message: content -->
                    <div class="message-content bg-light">
                        <h6 class="mb-2" th:if="${!message.isOwner()}" th:text="${message.usernameSender}"></h6>
                        <div th:utext="${#strings.replace(#strings.escapeJava(message.content),'\n','&lt;br /&gt;')}"
                             style="white-space: pre-wrap;">

                        </div>

                        <div class="form-row py-3">
                            <th:block th:each="attachment: ${message.attachments}">
                                <div class="col" th:if="${attachment.fileName.toLowerCase().contains('jpg') || attachment.fileName.toLowerCase().contains('png')
                                    || attachment.fileName.toLowerCase().contains('gif') || attachment.fileName.toLowerCase().contains('bmp')}">
                                    <img class="img-fluid rounded"
                                         th:src="${ '/loadImage/' + attachment.id}" data-action="zoom"
                                         alt="" style="">
                                </div>
                            </th:block>
                        </div>


                        <div class="media" th:each="attachment: ${message.attachments}" th:if="${!(attachment.fileName.toLowerCase().contains('jpg') || attachment.fileName.toLowerCase().contains('png')
                                    || attachment.fileName.toLowerCase().contains('gif') || attachment.fileName.toLowerCase().contains('bmp'))}">
                            <a href="#" class="icon-shape mr-5">
                                <i class="fe-paperclip"></i>
                            </a>
                            <div class="media-body overflow-hidden flex-fill">
                                <a href="#" class="d-block text-truncate font-medium text-reset"
                                   th:text="${attachment.fileName}"></a>
                            </div>
                        </div>

                        <div class="mt-1">
                            <small class="opacity-65"
                                   th:text="${#temporals.format(message.createdDate, 'yyyy MMM dd HH:mm')}"></small>
                        </div>
                    </div>
                    <!-- Message: content -->

                    <!-- Message: dropdown -->
                    <div class="dropdown dropright" th:if="${!message.isOwner()}">
                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#" th:idMessage="${message.id}" name="editMessage" >
                                Edit <span class="ml-auto fe-edit-3"></span>
                            </a>
                        </div>
                    </div>
                    <!-- Message: dropdown -->

                </div>
            </div>
            <!-- Message: row -->
        </div>
        <!-- Message: Body -->
    </div>
    <!-- Message -->
</div>