<div th:fragment="new-member" class="d-flex h-100 flex-column">

    <!-- Header -->
    <div class="border-bottom py-4 py-lg-6">
        <div class="container-fluid">

            <ul class="nav justify-content-between align-items-center">
                <!-- Close sidebar -->
                <li class="nav-item">
                    <a class="nav-link text-muted px-0" href="#" data-chat-sidebar-close="">
                        <i class="icon-md fe-chevron-left"></i>
                    </a>
                </li>

                <!-- Title(mobile) -->
                <li class="text-center d-block d-lg-none">
                    <h6 class="mb-n2">Bootstrap Themes</h6>
                    <small class="text-muted">Add Members</small>
                </li>

                <!-- Dropdown -->
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link text-muted px-0" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="icon-md fe-sliders"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                Mute
                                <span class="ml-auto fe-bell"></span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                Delete
                                <span class="ml-auto fe-trash-2"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!-- Header -->

    <!-- Body -->
    <div class="hide-scrollbar flex-fill">
        <!-- Search -->
        <div class="border-bottom py-7">
            <div class="container-fluid">

                <form action="#">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg"
                               placeholder="Search for users..." aria-label="Search users...">
                        <div class="input-group-append">
                            <button class="btn btn-lg btn-ico btn-secondary btn-minimal"
                                    type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- Search -->

        <!-- Members -->
        <form action="#">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-4">
                    <small class="text-uppercase">A</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm avatar-online mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/10.jpg}"
                                 alt="Anna Bridges">
                        </div>


                        <div class="media-body">
                            <h6 class="mb-0">Anna Bridges</h6>
                            <small class="text-muted">Online</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-1"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-1"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-1"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">B</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/6.jpg}"
                                 alt="Brian Dawson">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">Brian Dawson</h6>
                            <small class="text-muted">last seen 2 hours ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-2"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-2"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-2"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">L</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/5.jpg}"
                                 alt="Leslie Sutton">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">Leslie Sutton</h6>
                            <small class="text-muted">last seen 3 days ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-3"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-3"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-3"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">M</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/4.jpg}"
                                 alt="Matthew Wiggins">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">Matthew Wiggins</h6>
                            <small class="text-muted">last seen 3 days ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-4"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-4"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-4"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">S</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/7.jpg}"
                                 alt="Simon Hensley">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">Simon Hensley</h6>
                            <small class="text-muted">last seen 3 days ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-5"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-5"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-5"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">W</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/9.jpg}"
                                 alt="William Wright">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">William Wright</h6>
                            <small class="text-muted">last seen 3 days ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-6"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-6"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-6"></label>
                </li>
                <!-- Member -->
                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/3.jpg}"
                                 alt="William Greer">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">William Greer</h6>
                            <small class="text-muted">last seen 10 minutes ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-7"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-7"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-7"></label>
                </li>
                <!-- Member -->


                <li class="list-group-item py-4">
                    <small class="text-uppercase">Z</small>
                </li>

                <!-- Member -->
                <li class="list-group-item py-6">
                    <div class="media align-items-center">


                        <div class="avatar avatar-sm mr-5">
                            <img class="avatar-img" th:src="@{/assets/images/avatars/7.jpg}"
                                 alt="Zane Mayes">
                        </div>

                        <div class="media-body">
                            <h6 class="mb-0">Zane Mayes</h6>
                            <small class="text-muted">last seen 3 days ago</small>
                        </div>

                        <div class="align-self-center ml-auto">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="id-add-user-chat-1-user-8"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="id-add-user-chat-1-user-8"></label>
                            </div>
                        </div>

                    </div>

                    <!-- Label -->
                    <label class="stretched-label" for="id-add-user-chat-1-user-8"></label>
                </li>
                <!-- Member -->

            </ul>
        </form>
        <!-- Members -->
    </div>
    <!-- Body -->

    <!-- Button -->
    <div class="border-top py-7">
        <div class="container-fluid">
            <button class="btn btn-lg btn-block btn-primary d-flex align-items-center"
                    type="submit">
                Add members
                <span class="fe-user-plus ml-auto"></span>
            </button>
        </div>
    </div>

</div>
