<div th:fragment="tab-content-demos" class="d-flex flex-column h-100">

    <div class="hide-scrollbar">
        <div class="container-fluid py-6">

            <!-- Title -->
            <h2 class="font-bold mb-6">Screen sharing</h2>
            <!-- Title -->

            <!-- Card -->
            <div class="card mb-6">
                <div class="card-body">

                    <div class="media align-items-center">
                        <div class="mr-5">
                            <img th:src="@{/assets/images/brand.svg}" class="fill-primary"
                                 data-inject-svg="" alt="" style="height: 46px; width: 46px;">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-0">
                                <a href="#"
                                   class="text-basic-inverse stretched-link">Documentation</a>
                            </h5>
                            <p>Quick setup and build tools.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Card -->

            <h5 class="my-6">Screen sharing:</h5>

            <!-- Card -->
            <div class="card mb-6">
                <video class="card-img-top" id="videoChatMessage" autoplay playsinline muted/>
                <div class="card-body border-top">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mb-0">Screen sharing</h5>
                        </div>
                        <div class="align-self-center">
                            <a href="#" class="text-muted stretched-link">
                                <i class="fe-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>
