<div th:fragment="tab-content-dialogs" class="d-flex flex-column h-100">

    <div class="hide-scrollbar">
        <div class="container-fluid py-6">

            <!-- Title -->
            <h2 class="font-bold mb-6">Chats</h2>
            <!-- Title -->

            <!-- Search -->
            <form class="mb-6" method="get" action="/getUserOnline" id="formGetUserOnline">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg"
                           placeholder="Search for messages or users..."
                           aria-label="Search for messages or users..." name="keySearch" th:value="${keySearch}">
                    <div class="input-group-append">
                        <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                            <i class="fe-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Search -->

            <!-- Chats -->
            <nav class="nav d-block list-discussions-js mb-n6" th:each="account:${accountDtos}">
                <!-- Chat link -->
                <a class="text-reset nav-link p-0 mb-6 functionNotDevelopYet" href="#">
                    <div class="card card-active-listener">
                        <div class="card-body">

                            <div class="media">


                                <div class="avatar avatar-online mr-5">
                                    <img class="avatar-img" th:with="avatar=${account.employee.attachmentAvatar}"
                                         th:src="${ avatar!= null ? '/loadImage/' + avatar.id : ''}" alt="">
                                </div>

                                <div class="media-body overflow-hidden">
                                    <div class="d-flex align-items-center mb-1">
                                        <h6 class="text-truncate mb-0 mr-auto" th:text="${account.username}"></h6>
                                        <p class="small text-muted text-nowrap ml-4" th:text="${ account.lastLogin!= null ? 'Last login: ' +  #temporals.format(account.lastLogin, 'yyyy MMM dd HH:mm') : ''}"></p>
                                    </div>
                                    <th:block th:each="message:${account.messages}">
                                        <div class="text-truncate" th:if="${message != null}" th:with="content=${message.content}"
                                             th:text="${ content != null ? content : '' }"></div>
                                    </th:block>
                                </div>
                            </div>

                        </div>

                    </div>
                </a>
                <!-- Chat link -->
            </nav>
            <!-- Chats -->

        </div>
    </div>

</div>
