<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Messenger - Responsive Bootstrap Application</title>

    <!-- Template core CSS -->
    <link th:href="@{/assets/css/template.min.css}" rel="stylesheet">
    <!-- Scripts -->
    <script th:src="@{/assets/js/libs/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/plugins/plugins.bundle.js}"></script>
    <!--    <script th:src="@{/assets/js/template.js}"></script>-->
    <script th:src="@{/assets/js/admin.js}"></script>
    <!-- Scripts -->

</head>
<!-- Head -->

<body>

<div class="layout">

    <!-- Navigation -->
    <div class="navigation navbar navbar-light justify-content-center py-xl-7">

        <!-- Brand -->
        <a href="#" class="d-none d-xl-block mb-6">
            <img th:src="@{/assets/images/brand.svg}" class="mx-auto fill-primary" data-inject-svg="" alt=""
                 style="height: 46px;">
        </a>

        <!-- Menu -->
        <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
            role="tablist">

            <!-- Chat messages -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab"
                   href="#tab-content-message" title="Chats" role="tab">
                    <i class="icon-lg fe-message-square"></i>
                </a>
            </li>

            <!-- Capture screen -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-capture"
                   title="Capture" role="tab">
                    <i class="icon-lg fe-image"></i>
                </a>
            </li>

        </ul>
        <!-- Menu -->

    </div>
    <!-- Navigation -->

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="tab-content h-100" role="tablist">

            <div class="tab-pane fade h-100 show active" id="tab-content-message" role="tabpanel">
                <div th:replace="admin/common/tab-content-message.html :: tab-content-message"></div>
            </div>

            <div class="tab-pane fade h-100" id="tab-content-capture" role="tabpanel">
                <div th:replace="admin/common/tab-content-capture.html :: tab-content-capture"></div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->

    <!-- Main Content -->
    <div class="main main-visible" data-mobile-height="">

        <!-- Chat -->
        <!-- Chat: body -->
        <div id="chat-1" class="chat dropzone-form-js" data-dz-url="/app/chat.sendMessage">

            <!-- Chat: body -->
            <div class="chat-body" id="chat-content-body">

            </div>
            <!-- Chat: body -->
        </div>
        <!-- Chat: body -->
        <!-- Chat -->

    </div>
    <!-- Main Content -->

    <!-- Active Users: Sidebar -->

    <!-- Active Users: Sidebar -->

</div>
<!-- Layout -->
</body>

</html>